*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir\ Regular/Avenir Regular.ttf');
    
  }

  @font-face {
    font-family: 'Josefin';
    src: url('../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
    
  }

body{
    min-height: 600vh;
    overflow-x: hidden;
}

h1{
    font-family: 'Josefin';
}
::-webkit-scrollbar {
    width:7px;
    background-color: #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    background-color: #af969a;
}


::-moz-scrollbar {
    width:7px;
    background-color: #af969a;
}

::-moz-scrollbar-track {
    border-radius: 10px;
}

::-moz-scrollbar-thumb {
    /* border-radius: 10px; */
    background-color: #af969a;
}

::-ms-scrollbar {
    width:7px;
    background-color: white;
}

::-ms-scrollbar-track {
    border-radius: 10px;
}

::-ms-scrollbar-thumb {
    /* border-radius: 10px; */
    background-color: #af969a;
}



nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    min-height:50px;
    display: flex;
    justify-content: center;
    align-items: center ;
    transition: all .5s ease-in-out;
}



nav .row{
    height: 100%;
    width: 100%;
    padding-left: 30px;
}
.LogoSpan{
    font-family: Slant;
    color: white;
    font-size: 40px;
}

.RightNav{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    align-self: center;
    padding-right: 30px;

}
.RightImageEdited{
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    right: -366px;
    height: 717px;
    transform: translateX(100%);
    opacity:0;
    transition: all .8s ease-in-out;

}
.FadeImageAnimation{
    transform: translateX(0) !important;
}

.RightNav ul {
    height: 100%;
    display: contents;
}
.RightNav ul li{
    padding-left: 35px;
}
.RightNav ul li a{
    transition: all .2s linear;
    font-size: 16px;
    text-decoration: none;
    color: white;
    /* color: #607d8b; */
    /* color: #791A96; */
    color: #63b9e9;
    font-family: 'Avenir';
    font-weight: 600;
    
}
.RightNav ul li:hover a{
    color: #f39daa;
}




.SideNav{
    background-color:#000000ad;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 150px;
    right: -200px;
    width: fit-content  ;
    height: fit-content;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 50;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
}


.ActiveSideBar{
    right: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.SideNav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SideNav ul li{
    padding: 10px;
}

.SideNav ul li a{
    text-decoration: none;
    color: white;
}



.toggle-btn {
    position: fixed;
    top: 8px;
    right: 20px;
    overflow: hidden;
    z-index: 1000;
    cursor: pointer;
    background-color: transparent ;
    color: #fff;
    padding: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 45px;
    padding: 12px;
    height: 45px;
    border-radius: 5px;
    display: none;

}

.toggle-btn span {
    background-color:#63b9e9;
    height: 4px !important;
    width: 40px;
    display: block;
    border-radius: 20px;
}










.CenterFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
    font-family: 'Avenir';
    font-weight:500;

}
.FirstSection{
    min-height: 580px;
    background-color: rgba(0, 0, 0, 0.774);
    position: relative;
 
}
.FirstSection .container{
    min-height: 800px;
}
.shadow{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.888);
    background-image: url("../images/first\ section\ background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(.7px);
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.GoogleBtn{
    display: block;
    margin: 10px;
    padding: 50px 100px 100px 50px;
    background-image: url("../images/512x512.png");
    background-size: cover;
    /* padding: 200px; */
}

.AppStoreBtn{
    display: block;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-image: url("../images/pngwing.com\ \(36\).png");
    background-size: cover;
}
.btnCotainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bn46 {
    width: 150px;
    height: 50px;
    /* margin: 10px; */
    margin: 5px;
}
.bn45 {
    width: 150px;
    height: 50px;
    /* margin: 10px; */
    margin: 5px;
}
.FeaturesSection{
    margin-top: 50px;
    overflow-y: hidden;
}
.FeaturesContainer{
    max-width: 100% !important;
    padding: 0;
    margin: 0;

}
.FeaturesSectionHeader{
    padding: 10px;
    margin-bottom: 50px;
}
.FeatureCard{
    margin: 5px;
    padding: 20px;
    max-width: 400px;
    position: relative;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.04);
    /* border-left: 5px solid #63b9e9; */
    
}
.FeatureCardRight{
    display: flex;
    align-items: center;
}
.FeatureCardHeader{
    padding-left: 25px;
    padding-top: 5px;
}
.FeatureCardText{
    padding: 15px;
}




.HowItWorksSection{
    margin-top: 50px;
    min-height: 600px;
    background-color: #eee;
    padding: 40px;
}
.WorksSectionHeader{
    color: #63b9e9;
    padding: 10px;
    margin-bottom: 50px;
}
.HowItWorksList{
    padding: 10px;
    padding-right: 10%;
    list-style-type: square;
    /* font-size: 18px; */
}
li{
    font-family: 'Avenir';
}
.HowItWorksList li h5{
    color: #63b9e9;
}
.NurseryList{
    margin-bottom: 20px;
}
section{
    overflow-x: hidden;
    
}













/* responsive */

@media (max-width:990px) {
    .ServicesCard{
        max-width: 500px;
    }
    .ServicesCard div .row .col-lg-7{
        order: -1;
    }
    .RightNav{
        display: none;
    }


    .toggle-btn{
        display: flex;
    }

    nav .row{
        padding-left:10px ;
    }

}